{% extends 'AppBundle:EmailTransport:skeleton.html.twig' %}
{% block title %}{{ 'admin.emailTransport.edit.title'|trans({'%name%': emailTransport.name}) }} | {{ parent() }}{% endblock %}
{% block content %}
    <div class="panel-heading">
        <h3 class="panel-title">{{ icon('exchange') }} {{ 'admin.emailTransport.edit.title'|trans({'%name%': emailTransport.name}) }}</h3>
    </div>
    <div class="panel-body">
        {{ form(form) }}
    </div>
{% endblock %}
