{% extends 'AppBundle:EmailTransport:skeleton.html.twig' %}
{% block title %}{{ 'admin.emailTransport.view.title'|trans({'%name%': emailTransport.name}) }} | {{ parent() }}{% endblock %}
{% block content %}
    <div class="panel-heading">
        <h3 class="panel-title">{{ icon('exchange') }} {{ 'admin.emailTransport.view.title'|trans({'%name%': emailTransport.name}) }}</h3>
    </div>
    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt>{{ 'label.name'|trans }}</dt><dd>{{ emailTransport.name }}</dd>
            <dt>{{ 'label.type'|trans }}</dt><dd>{{ emailTransport.type }}</dd>
            <dt>{{ 'label.deliveryStarttime'|trans }}</dt><dd>{{ emailTransport.deliveryStarttime|date }}</dd>
            <dt>{{ 'label.deliveryPeriodDuration'|trans }}</dt><dd>{{ emailTransport.deliveryPeriodDuration.format('%y years %m months %d days, %h:%i:%s') }}</dd>
            <dt>{{ 'label.deliveryPeriodMaxmails'|trans }}</dt><dd>{{ emailTransport.deliveryPeriodMaxmails }}</dd>
            <dt>{{ 'label.deliveryLatency'|trans }}</dt><dd>{{ emailTransport.deliveryLatency.format('%y years %m months %d days, %h:%i:%s') }}</dd>
        </dl>
    </div>
    {{ render(controller('VlAclBundle:Acl:get', {req: app.request, object: emailTransport})) }}
{% endblock %}
{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('bundles/app/js/acl-modal.js') }}"></script>
{% endblock %}