{% macro render_link(route, param, ico, name, authorized) %}
    <a class="list-group-item {% if app.request.attributes.get('_route') == route %} active{% endif %}{% if not authorized %} disabled{% endif %}" href="{{ url(route, param) }}">{{ icon(ico~' fa-fw') }} {{ name }}</a>
{% endmacro %}
{% import _self as self %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{ 'admin.navigation.title'|trans }}</h3>
    </div>
    <div class="list-group">
        {% if emailTransport is defined %}
            {{ self.render_link('get_emailtransport', {emailTransport: emailTransport.id}, 'eye', 'admin.navigation.view'|trans, is_granted('VIEW', emailTransport)) }}
            {{ self.render_link('edit_emailtransport', {emailTransport: emailTransport.id}, 'pencil', 'admin.navigation.edit'|trans, is_granted('EDIT', emailTransport)) }}
            {{ self.render_link('remove_emailtransport', {emailTransport: emailTransport.id}, 'trash', 'admin.navigation.delete'|trans, is_granted('DELETE', emailTransport)) }}
        {% endif %}
        {{ self.render_link('get_emailtransports', {}, 'list', 'admin.navigation.list'|trans, true) }}
        {{ self.render_link('new_emailtransport_mail', {}, 'plus', 'admin.emailTransport.new.mail'|trans, is_granted('ROLE_USER')) }}
        {{ self.render_link('new_emailtransport_smtp', {}, 'plus', 'admin.emailTransport.new.smtp'|trans, is_granted('ROLE_USER')) }}
    </div>
</div>
