{% extends 'AppBundle:EmailMessageRecipient:skeleton.html.twig' %}
{% block title %}{{ 'admin.emailMessageRecipient.delete.title'|trans({'%email%': message.sender.email}) }} | {{ parent() }}{% endblock %}
{% block content %}
    <div class="panel-heading">
        <h3 class="panel-title">{{ icon('at') }} {{ 'admin.emailMessageRecipient.delete.title'|trans({'%email%': message.sender.email}) }}</h3>
    </div>
    <div class="panel-body">
        {{ form(form) }}
    </div>
{% endblock %}
