{% set inline =  app.request.attributes.get('_inline_', false) %}
{% extends inline ? 'AppBundle::skeleton_inline.html.twig': 'AppBundle:EmailTemplate:skeleton.html.twig' %}
{% block title %}{{ 'admin.emailTemplate.view.title'|trans({'%name%': emailTemplate.name}) }} | {{ parent() }}{% endblock %}
{% block content %}
    <div class="panel-heading">
        <h3 class="panel-title">{{ icon('files-o') }} {{ 'admin.emailTemplate.view.title'|trans({'%name%': emailTemplate.name}) }}</h3>
    </div>
    {{ render(controller('AppBundle:LocalizedEmailTemplate:cget', {
        _inline_: true,
        emailTemplate: emailTemplate,
        _route: app.request.attributes.get('_route'),
        _route_params:app.request.attributes.get('_route_params')
    }, app.request.query.all())) }}
    {% if not inline %}
        {{ render(controller('VlAclBundle:Acl:get', {req: app.request, object: emailTemplate})) }}
    {% endif %}
{% endblock %}
{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('bundles/app/js/acl-modal.js') }}"></script>
{% endblock %}