{% extends 'AppBundle:EmailTemplate:skeleton.html.twig' %}
{% block title %}{{ 'admin.emailTemplate.view.title'|trans({'%name%': emailTemplate.name}) }} | {{ parent() }}{% endblock %}
{% block content %}
    <div class="panel-heading">
        <h3 class="panel-title">{{ icon('files-o') }} {{ 'admin.emailTemplate.view.title'|trans({'%name%': emailTemplate.name}) }}</h3>
    </div>
    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt>{{ 'label.name'|trans }}</dt><dd>{{ emailTemplate.name }}</dd>
        </dl>
    </div>
    {{ render(controller('AppBundle:LocalizedEmailTemplate:cget', {
        _inline_: true,
        emailTemplate: emailTemplate,
        _route: app.request.attributes.get('_route'),
        _route_params:app.request.attributes.get('_route_params')
    }, app.request.query.all())) }}
    {{ render(controller('VlAclBundle:Acl:get', {req: app.request, object: emailTemplate})) }}
{% endblock %}
{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('bundles/app/js/acl-modal.js') }}"></script>
{% endblock %}